*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
h2,h3,h4,h5,h6,a{
	font-family: 'Josefin Sans', sans-serif;
}
row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-top: var(--bs-gutter-y);
}
p{
	margin-top: 0;
    margin-bottom: 0!important;
	padding:4px 0;
	font-family: 'Philosopher', sans-serif;
}
::-webkit-scrollbar{
	width: 6px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    border-radius: 6px;
}
.row{
	--bs-gutter-x: 0!important;
    --bs-gutter-y: 0;
}
.section-bg{
	background-image:url("../image/bg.png");
	background-size:cover;
}
.head{
	margin:0 20px;
	position:sticky;
	top:400px;
	padding-left: 0!important;
	background-color:white;
	border-radius:6px;
}
.head-atag{
	color:black;
	text-decoration:none;
}
.li-type{
	list-style-type:none;
	padding:10px 5px;
	border-bottom:1px solid gray;
}
.li-btn-clr{
	display: none;
}
li a:hover{
	color:#31f735;
}
li i:hover{
	color:#31f735;
}
.welcome{
	text-align: center;
	font-size:40px;
	font-weight:900;
	background-clip:text;
	-webkit-background-clip:text;
	color:transparent;
	background-image:url('../image/animi.jpg');
	animation:animate-0 8s ease-in-out 1s infinite;
}
@keyframes animate-0{
	0%{
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50%{
      background-position: left bottom;
    }
    75%{
      background-position: right top;
    }   	
	100%{
      background-position: left top;
    }
}
.div1-bg::after{
	content:"";
	position:absolute;
	left:-15px;
	top:-20px;
	background: -webkit-linear-gradient(-45deg,rgba(82,224,53,.4) 0%,rgba(82,224,53,.01) 100%);
	height:300px;
	width:300px;
	border-radius:10px;
	z-index:-1;
}
.div1-a-hvr:hover{
	color: #26fd26;
	word-spacing: 5px;
	transition: all .2s ease;
}
.div1-a-hvr:hover a{
	color: #26fd26;
	transition: all .2s ease;
}
.div1-bdr{
	border-radius:10px;
}
.div1-video{
	clip-path: polygon(0 0,100% 0,100% 80%,80% 100%,20% 100%,0% 80%)!important;
	border-radius:6px;
}
.shadow-2::after{
	content:"";
	position:absolute;
	left:-10px;
	top:10px;
	background: -webkit-linear-gradient(-45deg,rgba(82,224,53,.4) 0%,rgba(82,224,53,.01) 100%);
	height:150px;
	width:150px;
	border-radius:10px;
}
.div1-btm-bdr{
	border-top:1px solid gray;
	border-right:1px solid gray;
	padding:15px 0 15px 0;
}
.div1-btm-bdr2{
	border-top:1px solid gray;
	padding:15px 0 15px 0;
}
.div1-atag{
	text-decoration:none;
	color:black;
}
.div1-bg{
	background-color:white;
	border-radius:6px;
	transition: all .3s ease;
}
.div1-1-bg{
	background-color:white;
	border-radius:6px;
	transition: all .3s ease;
}
.full-shadow-div1{
	position:relative;
	z-index:1;
}

.div2-bg{
	background-color:white;
	border-radius:6px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	transition: all .3s ease;
}
.div3-bg,.div4-bg,.div5-bg,.div6-bg{
	background-color:white;
	border-radius:6px;
	overflow-y:scroll;
	overflow-y:1px solid red;
	transition: all .3s ease;
	scroll-behavior: smooth;
}
.abt-heading{
	position:relative;
	font-size:25px; 
	padding:15px 0 15px 30px;
	z-index:1;
}
.abt-heading::after{
	content: '';
    position: absolute;
    left: -30px;
    right: 0;
    bottom: 0;
    height: 1px;
	width:100%;
    background: radial-gradient(ellipse at left,#ddd 0%,rgba(255,255,255,0) 70%);
}
.abt-heading::before{
	content:"";
	position:absolute;
	top:20px;
	left:20px;
	height:30px;
	width:30px;
	border-radius:50%;
	background: linear-gradient(135deg,rgb(48 231 10 / 60%) 0%,rgba(82,224,53,.01) 100%);
	z-index:-1
}
.div4-head-after{
	position:relative;
	padding-bottom:10px;
}
.div4-head-after::after{
	content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at center,#ddd 0%,rgba(255,255,255,0) 70%);
}
.div4-head-before::before{
	content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at center,#ddd 0%,rgba(255,255,255,0) 70%);
}

.div4-column-before{
	position:relative;
}
.div4-column-before::before{
	content:"";
	position: absolute;
    left: -15px;
    top: 0;
    width:1px;
    height: 100%;
    background: radial-gradient(ellipse at top,#ddd 0%,rgba(255,255,255,0) 70%);
}
.div4-column-before2{
	position:relative;
}
.div4-column-before2::before{
	content:"";
	position: absolute;
    left: -15px;
    top: 0;
    height:1px;
    width: 100%;
    background: radial-gradient(ellipse at top,#ddd 0%,rgba(255,255,255,0) 70%);
}
 
progress[value] {
  --background: conic-gradient(#31f735 var(--p),lightgrey 0); 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  position: absolute;
  inset: 0;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  overflow: hidden;
  background: var(--background);
  -webkit-mask:radial-gradient(#a11818 59%,#000 60% 70%,#66252500 71%);
}
progress[value]::-webkit-progress-bar {
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  background: #0000;
}
progress[value]::-moz-progress-bar {
  background: #0000;
}

label {
  --w: 150px;  
  font-size: 20px;
  font-weight: bold;
  display: inline-grid;
  place-content: center;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color:#26fd26;
  color: white;
  transform: rotateY(180deg);
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}
.todoList{
	background-color: #1d252c!important;
	color: white !important;
	border-radius: 6px;
	transition: all .6s linear;
}
.todoList a{
	background-color: #1d252c;
	color: white;
	border-radius: 6px;
}